.main_con{
    width: 90%;
    margin:0 auto;
}

.body{
    width:100%;
}

.hamburger_menu{
    border-top: 1px solid #f1f1f1;
    padding: 15px 0;
    display: block;
    position: relative;
    width: 100%;
}

.hamburger_menu .hamburger_container{
    width:50px;
    height:40px;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hamburger_menu .hamburger_container span{
    width:27px;
    height:4px;
    background:var(--konnectore-green);
    display: block;
    margin:2px 0;
    border-radius: 20px;
}

.body_content{
    width:100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: space-between;
    padding-top:30px;
}

.body_content .side_menu{
     transform:translateX(-100%);
    transition: .4s ease-in-out;
    position: fixed;
    background:#fff;
    padding-left: 35px;
    z-index: 2;
    left:0;
    top:0;
    height:100vh;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-right: 35px;
    box-shadow: 0px 0px 4px rgba(196, 196, 196, 0.91), 0px 0px 0px rgba(0, 0, 0, 0.25);
    overflow:scroll
}

.body_content .side_menu .close_menu{
    text-align: center;
    padding: 0 0 45px;
    display:block;
}

.body_content .side_menu .close_menu img{
    width:30px;
    height:30px;
}

.body_content .side_menu .main_side_menu{
    /* border:1px solid; */
}

.body_content .side_menu .main_side_menu .navbar-nav{
    /* border:1px solid; */
    width: 100%;
    margin:0 !important;
}

.body_content .side_menu .main_side_menu .nav-item{
    padding-left:25px;
    margin-bottom:15px;
}

.nav_body{
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .3s ease-in-out;
    border-radius: 5px;
    margin-bottom:40px !important;
}

.nav_body:hover{
    background: var(--konnectore-green);
}

.nav_body:hover .nav_text{
    color: white !important;
}

.body_content .side_menu .other_side_menu .nav-item{
    padding-bottom:5px;  
}

.body_content .side_menu .main_side_menu,
.body_content .side_menu .other_side_menu{
    padding-left:0;
}

.body_content .side_menu .main_side_menu .nav-item span,
.body_content .side_menu .other_side_menu .nav-item span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border:1px solid */
}

.body_content .side_menu .main_side_menu  .nav-item a,
.body_content .side_menu .other_side_menu .nav-item a{
    color:var(--konnectore-green);
    margin-left:15px;
}

.body_content .side_menu .other_side_menu{
    margin:40px 0 80px;
}

.body_content .side_menu .main_side_menu  .nav-item a{
    font-family: var(--nunito-sb);
    font-size: 16px;
}

.body_content .side_menu .other_side_menu  .nav-item a{
    font-size: 14px;
}

.body_content .side_menu .vote_card{
    background:#fff;
    box-shadow: 0px 0px 4px rgba(196, 196, 196, 0.91), 0px 0px 0px rgba(0, 0, 0, 0.25);
    width: 230px;
    min-height:100px;
    margin:40px 0;
    padding:15px 10px;
}

.body_content .side_menu .vote_card .vote_card_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.body_content .side_menu .vote_card .vote_card_content li{
    margin: 3px 5px;
    list-style-type: none;
    /* padding:0; */
    font-size: 11px;
    font-weight: 600;
}

.body_content .side_menu .vote_card .vote_card_footer{
    width: 100%;
    text-align:center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top:25px;
}

.body_content .side_menu .vote_card .vote_card_footer p{
    font-size: 13px;
    font-weight: 600;
    margin:0;
}

/* .side_menu .other_side_menu .nav-item a{
    font-family: var(--segoe);
} */

.body_content  .center_content{
    /* border:1px solid black; */
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.body_content .center_content .header,
.body_content .center_content .body{
    max-width: 720px;
    width: 100%;
    /* border:1px solid; */
    padding-bottom: 40px;
}

.body_content .center_content .header .header_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
}

.body_content .center_content .header .header_content li{
    list-style-type: none;
    margin:0;
}

.body_content .center_content .header .header_content li a{
    margin:0;
    /* border:1px solid; */
    padding:0;
    font-size: 15px;
    font-family: var(--nunito-sb);
    margin-right: 35px;
}

.body_content .center_content .header .header_content li span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border:1px solid */
}

.body_content .center_content .header .header_content p{
    margin:0 !important;
    font-size: 16px;
    font-family: var(--nunito-sb);
}

/* gchghxh */

.body_content .center_content .body .body_content_card{
    width: 100%;
    box-shadow: 0px 0px 4px rgba(196, 196, 196, 0.91), 0px 0px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding:40px;
    background:#fff;
}

.body_content .center_content .body .body_content_card .nav-tabs{
    border:none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body_content .center_content .body .body_content_card .nav-tabs a{
    border:none;
    width: 100%;
}

.body_content .center_content .body .body_content_card .btn_container{ 
    margin: 20px 0px;
    text-align: center;

}

.body_content .center_content .body .body_content_card .btn_container button{
    max-width: max-content;
    width: 100%;
    padding: 10px 25px;
    border-radius: 30px;
    background:var(--konnectore-green);
    color:#fff;
    border:none;
    font-family: var(--nunito-sb);
}

.body_content .center_content .body .tab-content .tab-pane{
    padding: 40px 0;
}

.body_content .center_content .body .tab-content .tab-pane .header{
    width:100%;
    padding: 5px 0;
    margin-bottom: 30px;
    text-align:center;
    border-bottom:1px solid #f1f1f1;
}

.body_content .center_content .body .tab-content .tab-pane .header h3{
    font-size:18px;
    font-family: var(--nunito-sb);
    color: var(--side-menu-font);
}

.body_content .center_content .body .tab-content .tab-pane .body{
    width: 100%;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card{
    box-shadow: 0px 0px 4px rgba(196, 196, 196, 0.91), 0px 0px 0px rgba(0, 0, 0, 0.25);
    padding: 25px;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top,
.body_content .center_content .body .tab-content .tab-pane .body .body_card .bottom{
    width:100%;
    min-height:170px;
    height:100%;
    display: flex;
    flex-wrap:wrap;
    align-items: stretch;
    justify-content: center;
    /* border:1px solid; */
    margin-bottom:20px;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card  .top .left{
    /* border:1px solid; */
    height:100%;
    /* margin:0 auto; */
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .left .img_container{
    max-width:200px;
    width: 100%;
    /* max-height:150px; */
    height:100%;
    /* border:1px solid; */
    border:1px solid #f1f1f1;
    overflow: hidden;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .left .img_container img{
    width:100%;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .center{
    width:max-content;
    padding: 0 25px;
    text-align: center;
    margin:20px auto;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .center h6{
    font-family: var(--nunito-sb);
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .center p{
    color: var(--side-menu-font);
    font-family: var(--nunito-sb);
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .center .contest_winners{
    /* border:1px solid; */
    padding:10px 0;
    display:flex;
    flex-direction: column;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .center .contest_winners p{
    font-size:14px;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .center .contest_winners .images{
    /* border:1px solid black; */
    display:flex;
    flex-wrap:wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .center .contest_winners .images .img_container{
    border:1px solid #f1f1f1;
    width:50px;
    height:50px;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .right{
    margin:20px auto;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .top .right button{
    width:max-content;
    border:none;
    padding: 10px 20px;
    border-radius:25px;
    background:var(--konnectore-green);
    color:#fff;
    font-family: var(--nunito-sb);
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .bottom{
    border-top:1px solid #f1f1f1;
    align-items: center;
    justify-content: space-between;
    min-height:auto;
    margin-bottom: 0;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .bottom .cell{
    width:130px;
    height:130px;
    /* border:1px solid black; */
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .bottom .cell h6{
    color: var(--side-menu-font);
}

.body_content .center_content .body .tab-content .tab-pane .body .body_card .bottom .cell h4{
    font-size:30px;
}

.body_content .top_contestants{
    max-width:450px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.body_content .top_contestants .top_contestants_content{
    width:100%;
    height:max-content;
    box-shadow: 0px 0px 4px rgba(196, 196, 196, 0.91), 0px 0px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    /* border:1px solid; */
}

.body_content .top_contestants .top_contestants_content .content{
    width: 100%;
    height:300px;
    padding:20px;
    background:#fff;
    background-image: url('../images/singer.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.body_content .top_contestants .top_contestants_content .bottom_contestant{
    margin-top:auto;
    width: 100%;
    padding:20px;
    text-align: left;
}

.body_content .top_contestants .top_contestants_content .bottom_contestant h6,
.body_content .top_contestants .top_contestants_content .bottom_contestant p{
    margin:0;
    font-family: var(--nunito-sb);
    font-size: 13px;
    margin-bottom: 5px;
}

.body_content .top_contestants .top_contestants_content .bottom_contestant p{
    font-family: var(--nunito);
    margin-bottom: 15px;
}

.body_content .top_contestants .top_contestants_content .bottom_contestant button{
    width:100%;
    border-radius: 40px;
    border:3px solid var(--konnectore-green);
    padding: 7px 0;
}

.body_content .top_contestants .top_contestants_content .header_contestant{
    text-align: right;
}

.body_content .top_contestants .top_contestants_content .header_contestant h6{
    font-family: var(--nunito-sb);
    font-size: 12px;
    color:#c0c0c0;
    margin:0 !important;
}

.body_content .top_contestants .top_contestants_content .header_contestant button{
    border:none;
    background:#fff;
    width:max-content;
    min-height:max-content;
    padding:10px 20px;
    border-radius:5px;
    font-size:13px;
    font-family: var(--nunito-sb);
}

@media only screen and (min-width:1200px){   
    .main_con{
        width: 1280px;
    }

    .hamburger_menu{
        display: none;
    }

    .body_content{
        flex-direction:row;
        padding-top:60px;
    }
    
    .body_content .side_menu{
        /* border:1px solid; */
        transform:translateX(0);
        /* display: block; */
        position: relative;
        background:none;
        padding:0;
        min-width: max-content;
        overflow: hidden;
        height:auto;
        padding-right:5px;
        box-shadow: none;
        z-index:0;
    }

    .body_content .side_menu .close_menu{
        display: none;
    }

    .body_content .center_content .header .header_content li a{
        margin:0;
        padding:0;
        font-size: 20px;
        font-family: var(--nunito-sb);
        margin-right: 35px;
    }

    .body_content .center_content .header .header_content p{
        margin:0 !important;
        font-size: 25px;
        font-family: var(--nunito-sb);
    }

    .body_content .center_content .body .body_content_card{
        padding:20px 25px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .body_content .center_content .body .body_content_card .btn_container{
        margin:0;
        margin-left:30px;
    }

    .body_content .center_content .body .body_content_card .btn_container button{
        width: max-content;
    }

    .body_content .center_content .body .tab-content .tab-pane .body .body_card .top{
        align-items: stretch;
        justify-content: flex-start;
        height:170px;
    }

    .body_content .center_content .body .tab-content .tab-pane .body .body_card .top .left .img_container{
        width: 200px;
        /* height:auto; */
    }

    .body_content .center_content .body .tab-content .tab-pane .body .body_card .top .center{
        margin:0;
        text-align: left;
    }

    .body_content .center_content .body .tab-content .tab-pane .body .body_card .top .right{
        margin:0;
        margin-left: auto;
    }

    .body_content .top_contestants{
        width:450px;
        justify-content: flex-end;
    }

    .body_content .top_contestants .top_contestants_content{
        margin:0 ;
    }

    .body_content .top_contestants .top_contestants_content .content{
        height:240px;
    }
   
}

@media only screen and (max-width:455px){
    .body_content .center_content .body .tab-content .tab-pane .body .body_card .bottom{
        justify-content: center;
    }
}